h1 {
  font-family: papyrus;
  font-size: 30px;
  color: purple;
  background: -webkit-linear-gradient(lightblue, lightpink, lavender);
  border: dotted blue;
  padding: 5%;

}

h2 {
  font-family: papyrus;
  font-size: 25px;
}

ul {
  font-family: Times;
}

.brief-summary {
  font-family: Times;
  font-size: 20px;
  color: darkblue;
}

h3 {
  font-family: papyrus;
  font-size: 25px;
  color:lightgreen;
}

.early-life{
  font-family: Times;
  font-size: 15px;
}

h4{
  font-family: papyrus;
  font-size: 20px;
  color: pink;
}

#accomplishments{
  font-family: Times;
  font-size: 15px;
}

h5 {
  font-family: papyrus;
  font-size: 15px;
}

ol {
  font-family: Times;
  font-size: 12px;
  background: -webkit-linear-gradient(left top, lightpink, lightblue);
  opacity: 0.5%;
}
