h1 {
  font-family: Georgia;
  font-size: 30px;
  color: purple;
  background-color: lightblue;
  border-bottom: dashed blue;

}

h2 {
  font-family: papyrus;
  font-size: 25px;
}

.brief-summary {
  font-family: Times;
  font-size: 20px;
  color: darkblue;
}

h3 {
  font-family: papyrus;
  font-size: 25px;
  color:lightgreen;
}

.early-life{
  font-family: Times;
  font-size: 15px;
}

h4{
  font-family: papyrus;
  font-size: 20px;
  color: pink;
}

#accomplishments{
  font-family: Times;
  font-size: 15px;
}
